.triangle {
    @apply fill-current absolute w-10/12 -z-1;
}

.title, .subtitle {
    @apply font-bold font-iam ml-32;

    white-space: nowrap;
}

.title {
    font-size: 15vw;
}

.subtitle {
    font-size: 5vw;
}

.create-button {
    @apply bg-black px-3 pt-2 pb-4 font-iam text-white w-max m-auto rounded-lg cursor-pointer;

    font-size: 4vw;
    box-shadow: 2px 4px 4px 0 #000;
}